* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.clearfix::after {
    content:'';
    display: table;
    clear: both;
}

.container {
    width: 65%;
    max-width: 1200px;
    margin: 0 auto;
    /* DA CANCELLARE */
    height: 100%;
    /* background-color: orange; */
    border: 5px solid white;
}

.container.background {
    background-image:url('https://cdn.fluentify.com/bundles/fluentifypublic/images/r4b/01/oldman.png');
    background-size: 800px 300px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.blue {
    background-color: #0c325a;
    /* DA CANCELLARE */
    height: 400px;
}

nav {
    height: 70px;
    background-color: powderblue;
}

.banner {
    height: 330px;
    position: relative;
}

.testo-banner {
    width: 350px;
    height:100px;
    color: white;
    position: absolute;
    top: 30%;
    /* transform: translate(-50%, -50%); */
}

.testo-banner h1 {
    margin-bottom: 20px;
}

.button {
    width: 70px;
    height: 50px;
    background-color: green;
    color: white;
    font-size: 10px;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
}

.grey {
    background-color: #d3d3d3;
    /* DA CANCELLARE */
    height: 100px;
}
.white {
    background-color: #white;
    /* DA CANCELLARE */
    height: 400px;
}

.box {
    width: 33.3333%;
    height: 100%;
    border: 1px solid white;
    float: left;
}
